In [2]:
import pandas as pd

BASE = "https://raw.githubusercontent.com/LaloMontealvo/project2-eda/main/data/raw/"

demo  = pd.read_csv(BASE + "df_final_demo.csv")
web1  = pd.read_csv(BASE + "df_final_web_data_pt_1.csv")
web2  = pd.read_csv(BASE + "df_final_web_data_pt_2.csv")
exper = pd.read_csv(BASE + "df_final_experiment_clients.csv")
web_complete = pd.concat([web1, web2], ignore_index=True)

print("demo:", demo.shape)
print("web_complete:", web_complete.shape)
print("exper:", exper.shape)

demo: (70609, 9)
web_complete: (755405, 5)
exper: (70609, 2)

In [3]:
from IPython.display import display

def profile(df, name):
    print(f"\n=== {name} ===")
    display(df.head(3))
    summary = (
        df.dtypes.to_frame('dtype')
          .assign(
              non_null=lambda _: df.notna().sum(),
              nulls=lambda _: df.isna().sum(),
              null_pct=lambda _: (df.isna().mean()*100).round(2),
              n_unique=lambda _: df.nunique(dropna=True)
          )
    )
    display(summary)

for name, df in [('demo', demo), ('web_complete', web_complete), ('exper', exper)]:
    profile(df, name)

=== demo ===

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0

                    dtype  non_null  nulls  null_pct  n_unique
client_id           int64     70609      0      0.00     70609
clnt_tenure_yr    float64     70595     14      0.02        54
clnt_tenure_mnth  float64     70595     14      0.02       482
clnt_age          float64     70594     15      0.02       165
gendr              object     70595     14      0.02         4
num_accts         float64     70595     14      0.02         8
bal               float64     70595     14      0.02     70328
calls_6_mnth      float64     70595     14      0.02         8
logons_6_mnth     float64     70595     14      0.02         9

=== web_complete ===

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22

               dtype  non_null  nulls  null_pct  n_unique
client_id      int64    755405      0       0.0    120157
visitor_id    object    755405      0       0.0    130236
visit_id      object    755405      0       0.0    158095
process_step  object    755405      0       0.0         5
date_time     object    755405      0       0.0    629363

=== exper ===

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control

            dtype  non_null  nulls  null_pct  n_unique
client_id   int64     70609      0      0.00     70609
Variation  object     50500  20109     28.48         2

In [4]:
exper

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [5]:
demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [6]:
web_complete = pd.concat([web1, web2], ignore_index=True)

web_complete

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [7]:
df_merged = pd.merge(web_complete, demo, on='client_id', how= 'left')
df_merged

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_merge = pd.merge(df_merged, exper, on='client_id', how='left')
df_merge

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_merge['clnt_age'].mean().round(1), df_merge['clnt_age'].mode()

(np.float64(47.7),
 0    58.5
 Name: clnt_age, dtype: float64)

In [10]:
print(df_merge['clnt_age'] > df_merge['clnt_age'].mean().round(1))

0          True
1          True
2          True
3          True
4          True
          ...
755400    False
755401    False
755402    False
755403    False
755404    False
Name: clnt_age, Length: 755405, dtype: bool

In [11]:
df_merge.isnull().sum()

client_id                0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
clnt_tenure_yr      305689
clnt_tenure_mnth    305689
clnt_age            305701
gendr               305689
num_accts           305689
bal                 305689
calls_6_mnth        305689
logons_6_mnth       305689
Variation           434096
dtype: int64

In [12]:
df_dropped = df_merge.dropna(subset=['num_accts'], thresh=1)
df_dropped

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755377,9895983,473024645_56027518531,498981662_93503779869_272484,step_3,2017-06-15 19:52:09,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755378,9895983,473024645_56027518531,498981662_93503779869_272484,step_2,2017-06-15 19:50:37,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755379,9895983,473024645_56027518531,498981662_93503779869_272484,step_1,2017-06-15 19:50:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755380,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:50:00,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755381,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:44:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN

In [13]:
df_dropped.isnull().sum()

client_id                0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
clnt_tenure_yr           0
clnt_tenure_mnth         0
clnt_age                12
gendr                    0
num_accts                0
bal                      0
calls_6_mnth             0
logons_6_mnth            0
Variation           128509
dtype: int64

In [ ]:
# Calculate average client age and mode, to analyze against general client list -> goal: find primary clients

avg_clnt_age = df_dropped['clnt_age'].mean().round(1), df_dropped['clnt_age'].mode()[0]

(np.float64(47.7), np.float64(58.5))

In [ ]:
# Calcualte yearly tenure for clients, analyze long term relation with company; longer tenure means longer years; above average is primary client -> goal: find primary clients

avg_tenure_yr = df_dropped['clnt_tenure_yr'].mean().round(0)

np.float64(12.0)

In [ ]:
# Gender and Account KPIs

common_gender = df_dropped['gendr'].mode()[0]
common_gender

'M'

In [18]:
avg_acc_nr = df_dropped['num_accts'].mean().round(1)
avg_acc_nr

np.float64(2.3)

In [20]:
# Calculate the average number of calls in the last 6 months

avg_calls = df_dropped['calls_6_mnth'].mean().round(1)

# Calculate the average number of logons in the last 6 months

avg_logons = df_dropped['logons_6_mnth'].mean().round(1)

avg_calls, avg_logons

(np.float64(3.5), np.float64(5.7))

In [ ]:
# Primary clients --> Profile:

df_dropped

# After analyzing the df we conclude that:
#       
#   Primary clients are older --> Average age of 48 years old
#   Long-standing clients --> Average tenure of 12 years

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755377,9895983,473024645_56027518531,498981662_93503779869_272484,step_3,2017-06-15 19:52:09,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755378,9895983,473024645_56027518531,498981662_93503779869_272484,step_2,2017-06-15 19:50:37,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755379,9895983,473024645_56027518531,498981662_93503779869_272484,step_1,2017-06-15 19:50:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755380,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:50:00,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
755381,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:44:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN

In [52]:
# Completion Rate (process_step) --> 'Confirm' step; how many reach it; proportion (.value_counts('column_name' or normalize=True) -> returns proportion)

df_dropped['process_step'].value_counts('confirm')

process_step
start      0.323646
step_1     0.213177
step_2     0.176892
step_3     0.151658
confirm    0.134627
Name: proportion, dtype: float64

In [29]:

df_dropped['process_step'].value_counts()

process_step
start      145549
step_1      95869
step_2      79551
step_3      68203
confirm     60544
Name: count, dtype: int64

In [49]:
# Convert the 'date_time' column to datetime

df_dropped['date_time'] = pd.to_datetime(df_dropped['date_time'])


print(df_dropped['date_time'].dtype)

datetime64[ns]

C:\Users\Pedro\AppData\Local\Temp\ipykernel_43520\397675556.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['date_time'] = pd.to_datetime(df_dropped['date_time'])

In [54]:
# Sort DataFrame by client_id, visit_id, and date_time

df_dropped_sorted = df_dropped.sort_values(['client_id', 'visit_id', 'date_time'])


# Calculate time difference between consecutive steps for each visit

df_dropped_sorted['duration'] = df_dropped_sorted.groupby(['client_id', 'visit_id'])['date_time'].diff()


# Remove the 'start' step since it has no duration, because is the first step of the process

df_duration = df_dropped_sorted.dropna(subset=['duration'])


df_duration[['client_id', 'visit_id', 'process_step', 'date_time', 'duration', 'Variation']]

,client_id,visit_id,process_step,date_time,duration,Variation
285514,169,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,0 days 00:00:09,NaN
285513,169,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,0 days 00:00:46,NaN
285512,169,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,0 days 00:01:34,NaN
285511,169,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,0 days 00:01:04,NaN
72017,555,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,0 days 00:00:07,Test
...,...,...,...,...,...,...
274435,9999839,715530422_68620416793_515645,start,2017-03-29 12:11:32,0 days 00:02:37,NaN
274434,9999839,715530422_68620416793_515645,step_1,2017-03-29 12:11:35,0 days 00:00:03,NaN
274433,9999839,715530422_68620416793_515645,step_2,2017-03-29 12:11:50,0 days 00:00:15,NaN
274432,9999839,715530422_68620416793_515645,step_3,2017-03-29 12:12:28,0 days 00:00:38,NaN
274431,9999839,715530422_68620416793_515645,confirm,2017-03-29 12:13:03,0 days 00:00:35,NaN

In [ ]:
df_dropped['Variation'].value_counts()

Variation
Test       0.553497
Control    0.446503
Name: proportion, dtype: float64

In [1]:
df_merge.sort:values('Variation')

NameError: name 'df_merge' is not defined